{
  "semi": false,
	"useTabs": true,
  "tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [
    { 
      "files": "*.svelte",
      "options": { 
        "parser": "svelte" 
      } 
    }
  ]
}