@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./lib/fonts/font-mercenary.css";



/* Add any custom CSS here */


@layer base {
  :root {

    /* fonts */
    --font-sans: "Mercenary";
    --font-serif: "";
    --font-mono: "";
    --font-diplay: "";
    --font-hand: "";
  }
}