@import 'tailwindcss';
@import './lib/ui.css';

/* Add any custom CSS here */
[data-theme] {
	/* colors */
	--theme-color: var(--color-slate-500);
	--theme-color-neutral: var(--color-slate-500);
	/* --theme-color-primary: rgb(64, 158, 185); */
	/* --theme-color-secondary: rgb(0, 98, 128); */

	/* --theme-color-primary: #75C8C5; */
	/* --theme-color-secondary: #22B6B1; */

  --theme-color-primary: #00fff7;
  --theme-color-secondary: var(--color-teal-400);
  --theme-color-accent: #ed1c24;

	/* fonts */
	--theme-font: 'Comic Sans MS';
	--theme-font-base: var(--font-family-sans);
	--theme-font-headings: var(--font-family-sans);

	/* font size */
	--theme-scale: 1;

	/* radius */
	--theme-corners: 9999px;
	--theme-corners-box: var(--radius-2xl);
	--theme-corners-button: 9999px;
}

[data-theme='blue'] {
	/* colors */
	--theme-color: var(--color-slate-500);
	--theme-color-neutral: var(--color-slate-500); /* slate */
	--theme-color-primary: var(--color-sky-500);
	--theme-color-secondary: var(--color-yellow-500);
	--theme-color-accent: var(--color-lime-500);
}
[data-theme='red'] {
	/* colors */
	--theme-color: var(--color-stone-500); /* stone */
	--theme-color-neutral: var(--color-stone-500); /* stone */
	--theme-color-primary: var(--color-pink-600);
	--theme-color-secondary: var(--color-purple-700);
	--theme-color-accent: var(--color-indigo-500);
}
